.small-logo {
    padding-top: 8px;
    padding-left: 20px;
    height: 90%;
}

.dark-grey {
    background-color: rgb(22, 22, 22);
}

.input-field {
    margin: 35px 0px 0px 0px;
}

.input-field input[type=text] {
    color: white;
    font-size: 25px;
}

.fixed {
    height: 100%;
    padding-top: 16px;
    position: fixed;
    top: 60px;
  }

.col.poster {
    height: 300px;
    padding: 0px;
    color: rgba(189, 189, 189, 0.788);
    background-color: rgba(156, 148, 148, 0.11);
}

.col.no-pad {
    padding: 0px;
}

.poster-img {
    padding-top: 55%;
    text-align: center;
    font-size: 28px;
    color: rgba(197, 125, 125, 0);
}

.poster-img:hover {
    color: white;
    border: 1px solid red;
    text-shadow: black 1px 1px;
}

#profile_box {
    margin: 173px 0px 0px 0px;
    background-color: rgb(24, 23, 23);
}

#add_box {
    margin: 173px 0px 0px 0px;
    background-color: rgb(24, 23, 23);
}

#add_rec_box {
    margin-top: 173px;
    margin-left: 25%;
    height: 400px;
    background-color: rgb(24, 23, 23);
}

a div {
    color: white;
}

a div:hover {
    color: rgb(173, 11, 11);
}