<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" 
        integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" type="text/css">
    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    {% block styles %}
    {% endblock %}

    <title>Readflix</title>
</head>
<body class="black">
    <header>
      <nav class="dark-grey" style="position: fixed; top: 0px">
        <div class="nav-wrapper">
          <a href="{{ url_for('get_films')}}"><img src="https://fontmeme.com/permalink/210729/7c4f14820fc13e73ba00a7ff096daf55.png" alt="netflix-font" class="small-logo"></a>
          {% if session.user %}
          <ul class="right user-tab">          
              <li style="float: none;">
                <a class='dropdown-trigger' style="background-color: rgb(190, 10, 10); text-align: center;
                float: none;" data-target='dropdown1'>{{session.user|upper}}
                </a>
              </li>           
              <li><a id='dropdown1' class='dropdown-content' style="background-color: white; 
              color: red; text-align: center;" href="{{ url_for('logout') }}">LOGOUT</a></li>
          </ul>
          {% else %}
          <ul class="right">
              <li><a href="{{ url_for('login') }}">Login</a></li>
              <li><a href="{{ url_for('register') }}">Register</a></li>
          </ul>
          {% endif %}
        </div>
      </nav>
    </header>

    {% block content_block_A %}
    {% endblock %}

    <script src="https://code.jquery.com/jquery-3.6.0.min.js" 
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    {% block scripts %}
    {% endblock %}
</body>
</html>