{% extends "base_template.html" %}
{% block content_block_A %}

<section>
    <div class="row">
        <div class="col s12">
                <form action="{{ url_for('search')}}" method="post" class="col s12">
                    <div class="row valign-wrapper center-align">
                        <div class="input-field col s10">
                            <i class="fas fa-search prefix red-text text-darken-"></i>
                            <input type="text" name="query" id="query" minlength="3" class="validate" required>
                            <label for="query">Search</label>
                        </div>
                        <div class="col s2">
                            <button type="submit" class="red darken-1 btn" style="margin-top: 20px;">
                                Search
                            </button>
                            {% if search %}
                            <a href="{{ url_for('get_films')}}" class="red darken-1 btn" style="margin-top: 20px;">X</a>
                            {% endif %}                    
                        </div>
                    </div>
                </form>
        </div>
    </div>

    <div class="row">
        <div>
            {% if 5==5 %}
            <div class="poster col l2 m3 s4" onclick="addOn()">
                <div class="poster-img" style="font-size: 50px; height: 100%; color: white;">+</div>                
            </div>
            {% endif %}

            {% for film in films %} 
                <div class="poster col l2 m3 s4">
                    <div class="poster-img" style="background-image: url({{film.poster_url}}); 
                    height: 340px; background-position: center; background-size:cover;"
                    onclick='on("{{ film.title }}", "{{ film.genre }}", "{{ film.poster_url }}")'>
                        {{ film.title }}
                    </div> 
                </div>
            {% endfor %}

            <div id="overlay_profile" style="position: fixed; display: none; width: 100%; 
            height: 100%; top: 0; left: 0; right: 0; bottom: 0; background-color: rgba(0,0,0,0.7);
            color: white; font-size: 30px;">
                <div id="profile_box">
                    <div class="col l2 m3 s4" style="padding: 0px;">
                        <div id="profile-poster" style="height: 340px; background-position: center; background-size:cover;"></div>  
                    </div>
                    <div id="profile-title-box" class="col l10 m8 s7">Title: </div>
                    <div id="profile-genre-box" class="col l10 m8 s7">Genre: </div>
                    <div id="profile-rec-box" class="col l10 m8 s7">Recommendations: 
                        <div id="rec-list-box" class="col l10"></div>
                    </div>
                    <div class="col l9">
                        <button class="red btn darken-1">Add</button>
                        <button class="red btn darken-1" onclick="off()">Back</button>
                    </div>
                </div>
            </div>

            <div id="overlay_addfilms" style="position: fixed; display: none; width: 100%; 
            height: 100%; top: 0; left: 0; right: 0; bottom: 0; background-color: rgba(0,0,0,0.7);
            color: white; font-size: 30px;">
                <form id="add_box"  method="POST" action="{{ url_for('add_film') }}">
                    <div id="user_url" class="poster col l2 m3 s4" onclick="getURL()" style="height: 340px; background-position: center; background-size:cover;">
                        <div class="poster-img" style="font-size: 50px; height: 100%; color: white;">+</div>                
                        <input id="user_poster_url" name="user_poster_url" type="text" class="validate" minlength="5" maxlength="50" required style="display: none;">                
                    </div>

                    <div class="input-field col l10" style="margin-top: 15px;">
                        <div id="profile-title-box" class="col l8"> 
                            Title: <input id="title" name="title" type="text" class="validate" 
                            minlength="5" maxlength="50" required>
                        </div>
                    </div>

                    <div class="input-field col l10" style="margin-bottom: 5px">
                        <div id="profile-genre-box" class="col l8"> 
                            Genre(s): <input id="genre" name="genre" type="text" class="validate" 
                            minlength="5" maxlength="50" required>
                        </div>
                    </div>     
                    
                    <div class="col l10" style="padding-left: 20px">
                        <button type="submit" onclick="checkForImg()" class="btn-large red darken-1">Add Film <i class="fas fa-plus-square right"></i></button>
                        <button onclick="addOff()" class="btn-large red darken-1">Back</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</section>

<script>
    profilebox = document.getElementById("profile_box").innerHTML;
    addbox = document.getElementById("add_box").innerHTML;
    url = 0;

    function on(title, genre, poster_url) {
      document.getElementById("overlay_profile").style.display = "block";
      url = "url('" + poster_url + "')"; 

      document.getElementById("profile-poster").style.backgroundImage = url;
      document.getElementById("profile-title-box").innerHTML += title;
      document.getElementById("profile-genre-box").innerHTML += genre;
    }
    
    function off() {
      document.getElementById("overlay_profile").style.display = "none";
      document.getElementById("profile_box").innerHTML = profilebox;
    }

    function addOn() {
      document.getElementById("overlay_addfilms").style.display = "block";
    }

    function addOff() {
      document.getElementById("overlay_addfilms").style.display = "none";
      document.getElementById("add_box").innerHTML = addbox;
      url = 0;
    }

    function getURL() {
      var drag = prompt("Please copy/paste url of film poster:", "");
      if (drag != null) {
        url = "url('" + drag + "')"; 
        document.getElementById("user_url").style.backgroundImage = url;
        document.getElementById("user_poster_url").value = drag;
      }
    }

    function checkForImg() {
      num = url.length - 7
      if (num < 5) {
        getURL()
      }
    }

</script>

{% endblock %}