{% extends "base_template.html" %}
{% block content_block_A %}

<section>
    <div class="row">
        <div class="scale col l10 m12">
            <!--Search Bar-->
            <form action="{{ url_for('search')}}" method="post" style="padding-top: 64px;">
                <div class="row valign-wrapper center-align fixed-search">
                    <div class="input-field col l10 m7">
                        <i class="fas fa-search prefix red-text text-darken"></i>      
                            {% if search %}  
                            <input type="text" name="query" id="query" minlength="1" class="validate" 
                            value="{{searchQuery}}" required>
                            {% else %}
                            <input type="text" name="query" id="query" minlength="1" class="validate" required>
                            {% endif %}
                            <label for="query">Search</label>
                    </div>
                    <div class="no-pad col l2 m3">
                        <button type="submit" class="search-btn hover-btn btn">
                            Search
                        </button>
                        {% if search %}
                        <a href="{{ url_for('get_films')}}" class="exit-btn hover-btn btn">X</a>
                        {% endif %}                    
                    </div>
                </div>
            </form>
        </div>
            <!--Poster Rows-->
        <div id="film-poster-section" class="col l10 m12 s12">
            {% if session.user %}
            <div class="poster col l2 m3 s4" onclick="addOn()" style="cursor: pointer; height: 300px">
                <div class="poster-img" style="font-size: 50px; height: 100%; color: white;">+</div>                
            </div>
            {% endif %}                                
            {% for film in films %} 
                <a href="{{ url_for('get_film', film_title=film.title) }}">              
                    <div class="poster col l2 m3 s4" style="background-image: url({{film.poster_url}});
                    background-position: center; background-size: cover;">
                        <div class="poster-img img_contain" style="height: 100%; overflow: hidden;">
                            {{ film.title }}
                        </div> 
                    </div>
                </a>   
            {% endfor %}
        </div>

        <!--Genre Navbar -->
        <div class="fixed col l2 m12" style="color: rgb(255, 255, 255); right: 0;">
            <div class="col l12 genre-title">
                <div style="padding-top: 16px; padding-bottom: 35px; text-align: center; font-size: 50px;
                text-decoration: underline 3px; text-underline-offset: 5px;">Genres</div>
            </div>
            <div class="col l12 m2">    
                <a href="{{ url_for('genre_search', genre='Action') }}">
                    <div style="padding-bottom: 5px; text-align: center;">Action</div>
                </a>
            </div>  
            <div class="col l12 m2">    
                <a href="{{ url_for('genre_search', genre='Horror') }}">
                    <div style="padding-bottom: 5px; text-align: center;">Horror</div>
                </a>
            </div> 
            <div class="col l12 m2">    
                <a href="{{ url_for('genre_search', genre='Sci-Fi') }}">
                    <div style="padding-bottom: 5px; text-align: center;">Sci-Fi</div>
                </a>
            </div>  
            <div class="col l12 m2">    
                <a href="{{ url_for('genre_search', genre='Comedy') }}">
                    <div style="padding-bottom: 5px; text-align: center;">Comedy</div>
                </a>
            </div>  
            <div class="col l12 m2">   
                <a href="{{ url_for('genre_search', genre='Sport') }}">
                    <div style="padding-bottom: 5px; text-align: center;">Sport</div>
                </a>
            </div>              
            <div class="col l12 m2">    
                <a href="{{ url_for('genre_search', genre='Fantasy') }}">
                    <div style="padding-bottom: 5px; text-align: center;">Fantasy</div>
                </a>
            </div> 
            <div class="col l12 m2">    
                <a href="{{ url_for('genre_search', genre='Thriller') }}">
                    <div style="padding-bottom: 5px; text-align: center;">Thriller</div>
                </a>
            </div> 
            <div class="col l12 m2">    
                <a href="{{ url_for('genre_search', genre='Romance') }}">
                    <div style="padding-bottom: 5px; text-align: center;">Romance</div>
                </a>
            </div>   
            <div class="col l12 m2">    
                <a href="{{ url_for('genre_search', genre='Historical') }}">
                    <div style="padding-bottom: 5px; text-align: center;">Historical</div>
                </a>
            </div>       
        </div>

        {% if intro %}
        <div id="overlay_intro" class="general-overlay col" style="display: block;">
            <div id="add_box"  class="no-pad col l10 m12" style="height: 300px; width: 100%;">
                <a class="exit" onclick="introOff()">X</a> 
                <h5 style="margin-top: 7px;">Watch. Search. Read!</h5>
                <div class="col l10 m12" style="background-color: rgb(180, 179, 179); height: 230px; float: none;
                margin-top: 36px; width: 100%; color: black; margin-top: 0px; overflow: auto;">
                    <h5 style="padding-top: 5px;">Looking to read more? Search your favorite films and tv shows to find book suggestions
                        from users just like you! 
                    </h5>
                    <h5>Unregistered users can search the site for free! Just click the film profile you want to view.
                        There's even a link to Amazon <img style="height: 25px; padding-top: 7px;"
                        src="https://nicholasspriggs.weebly.com/uploads/7/9/7/8/79787400/amazon-icon_orig.png">
                         for each suggestion!
                    </h5>
                    <h5>Registered users can add films, contribute recommendatons, and even 
                        update the ones they made during past visits!</h5>
                </div>
            </div>
        </div>
        {% endif %}

        {% if overlay_profile %}
            <!--Film Profiles-->
            <div id="overlay_profile" class="general-overlay col">
                <div id="profile_box" class="no-pad col l10 m12">
                    <div class="col l2 m3 s4" style="padding: 0px;">
                        <div id="profile-poster" style="height: 300px; background-image: url({{film.poster_url}});
                        background-position: center; background-size:cover;"></div>  
                    </div>
                    <div id="profile-title-box" class="col l10 m9 s8" style="padding-right: 0px;">
                        <div class="exit" onclick="profileOff()">X</div>
                        <div style="height: 36px; overflow: auto;">Title: {{ film.title }} </div>
                    </div>
                    <div id="profile-genre-box" class="col l10 m9 s8" style="height: 36px; overflow: auto;">Genre: {{ film.genre }}</div>

                    <div id="profile-rec-box" style="background-color: rgba(219, 219, 219, 0.849); 
                        height: 160px; overflow: auto;" class="no-pad col l10 m9 s8">
                            <div id="rec-list-box">
                                {% for rec in recs %}
                                    {% if film.title == rec.title %}
                                        {% if (session.user|lower == "admin"|lower or session.user|lower == rec.creator|lower) %}
                                            <div class="col l4" style="padding-bottom: 5px; border: black 1px solid; 
                                            background-color: rgb(207, 3, 3); font-size: 14px;">
                                                <div class="recs">Title: {{ rec.book }}
                                                    <img style="height: 20px; cursor: pointer; padding-top: 4px;" onclick='amazonLink("{{ rec.book }}", "{{ rec.author }}")' 
                                                    src="https://nicholasspriggs.weebly.com/uploads/7/9/7/8/79787400/amazon-icon_orig.png">
                                                    <a style="font-size: 14px; color:rgb(0, 60, 255); float: right;" 
                                                    href="{{ url_for('edit_rec', film_title=film.title, book=rec.book ) }}">Edit</a> 
                                                </div>
                                                <div class="recs">Author: {{ rec.author }}</div>
                                            </div>   
                                        {% else %}
                                            <div class="col l4" style="padding-bottom: 5px; border: black 1px solid; 
                                            background-color: rgb(207, 3, 3); font-size: 14px;">
                                                <div class="recs">Title: {{ rec.book }}
                                                    <img style="height: 20px; cursor: pointer; padding-top: 4px;" onclick='amazonLink("{{ rec.book }}", "{{ rec.author }}")' src="https://nicholasspriggs.weebly.com/uploads/7/9/7/8/79787400/amazon-icon_orig.png">
                                                </div>
                                                <div class="recs">Author: {{ rec.author }}</div>
                                            </div>                                        
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            </div>
                    </div>
                    <div id="profile-button-box" class="col l10" style="padding-top: 10px;">
                        <div id="{{ film.title }}_rec-btns">
                            {% if (session.user|lower == "admin"|lower or session.user|lower == film.creator|lower) %}
                            <a href="{{ url_for('edit_film', film_title=film.title) }}">
                                <button class="green btn darken-1">Edit</button>                                   
                            </a>
                            {% endif %}
                            {% if session.user %}                                
                            <button class="red btn darken-1" onclick='recOn("{{ film.title }}")'>Add</button>
                            {% endif %}
                        </div>
                    </div>     
                </div>
            </div>
            <!--Add Recommendation-->
            <div id="overlay_addrecs" class="general-overlay col" style="display: none;">
                <form id="add_rec_box" class="no-pad col l10 m12" 
                method="POST" action="{{ url_for('add_rec') }}">
                    <div style="text-align: center;">
                        <a class="exit" onclick="recOff()">X</a> 
                        <div style="padding-top: 10px; text-align: center;">Add Book</div>                        
                    </div>

                    <input id="rec_film_title" name="title" type="text" class="validate" required style="display: none;">                

                    <div class="input-field col l12 s12" style="margin-top: 20px;">
                        <div id="profile-title-box"> 
                            Book Name: <input id="book" name="book" type="text" class="validate" 
                            minlength="1" maxlength="50" required>
                        </div>
                    </div>

                    <div class="input-field col l12 s12" style="margin-top: 0px; margin-bottom: 10px;">
                        <div id="profile-title-box"> 
                            Author: <input id="author" name="author" type="text" class="validate" 
                            minlength="5" maxlength="50" required>
                        </div>
                    </div>     
                    
                    <div class="col l12 s12" style="padding-left: 20px">                             
                        <button type="submit" style="margin-bottom: 10px;" class="btn-large red darken-1">Recommend</i></button>
                    </div>

                </form>
            </div>            
        {% endif %}

        {% if overlay_edit %}
            <!--Edit Film-->
            <div id="overlay_editfilms" class="general-overlay col">
                <form id="add_box"  class="no-pad col l10 m12" method="POST" action="{{ url_for('edit_film', 
                film_title=film.title) }}">
                    
                    <div id="user_url" class="poster col l2 m3 s4" onclick="getURL()" style="height: 300px; cursor: pointer;
                    background-position: center; background-size:cover; background-image: url({{film.poster_url}});">
                        <div class="poster-img" style="font-size: 50px; height: 100%; 
                        color: white;text-shadow: 1px 1px black;">Edit</div>                
                        <input id="user_poster_url" name="user_poster_url" type="text" class="validate" value="{{film.poster_url}}"
                        minlength="5" maxlength="50" required style="display: none;">                
                    </div>

                    <div class="input-field col l10 m9 s8" style="margin-top: 0px; padding-right: 0px;">
                        <a class="exit" onclick="editFilmOff()">X</a> 
                        Title: <input id="title" name="title" type="text" class="validate" 
                        minlength="1" maxlength="50" value="{{film.title}}" required>
                    </div>

                    <div class="input-field col l10 m9 s8" style="margin-top: 0px; margin-bottom: 10px;
                    padding-right: 0px;">
                        Genre(s): <input id="genre" name="genre" type="text" class="validate" 
                        minlength="5" maxlength="50" value="{{film.genre}}" required>
                    </div>     
                        
                    <div class="col l10 m9 s8" style="padding-left: 20px">
                        <button type="submit" class="btn-large green darken-1">Save</button>
                        <a href="{{ url_for('delete_film', film_title=film.title) }}" 
                        class="btn-large red darken-1">Delete Film</a>
                    </div>
                </form>
            </div>
        {% endif %}

        {% if overlay_edit_rec %} 
            <!--Edit Recommendations-->
            <div id="overlay_editrecs" class="general-overlay col">
                <form id="add_rec_box" class="no-pad col l10 m12" 
                method="POST" action="{{ url_for('edit_rec', film_title=film.title, book=editedRec.book ) }}">
                    <div style="text-align: center;">
                        <a class="exit" onclick="editRecOff()">X</a> 
                        <div style="padding-top: 10px; text-align: center;">Edit Book</div>                        
                    </div>

                    <input id="rec_film_title" name="title" type="text" class="validate" value="{{film.title}}"
                    required style="display: none;">                

                    <div class="input-field col l12 s12" style="margin-top: 20px;">
                        <div id="profile-title-box"> 
                            Book Name: <input id="book" name="book" type="text" class="validate" 
                            minlength="1" maxlength="50" value="{{editedRec.book}}" required>
                        </div>
                    </div>

                    <div class="input-field col l12 s12" style="margin-top: 0px; margin-bottom: 10px;">
                        <div id="profile-title-box"> 
                            Author: <input id="author" name="author" type="text" class="validate" 
                            minlength="5" maxlength="50" value="{{editedRec.author}}" required>
                        </div>
                    </div>     
                    
                    <div class="col l12 s12" style="padding-left: 20px">                             
                        <button type="submit" style="margin-bottom: 10px; margin-top: 10px;" class="btn-large green darken-1">Save</i></button>
                        <a href="{{ url_for('delete_rec', film_title=film.title, book=editedRec.book) }}" 
                        class="btn-large red darken-1">Delete</a>
                    </div>
                </form>
            </div>          
        {% endif %}

        <!--Add Films-->
        <div id="overlay_addfilms" class="general-overlay col" style="display: none;">
            <form id="add_box"  class="no-pad col l10 m12" method="POST" action="{{ url_for('add_film') }}">
                <div id="user_url" class="poster col l2 m3 s4" onclick="getURL()" style="height: 300px; background-position: center; background-size:cover;">
                    <div class="poster-img" style="font-size: 50px; height: 100%; color: white;">+</div>                
                    <input id="user_poster_url" name="user_poster_url" type="text" class="validate" minlength="5" maxlength="50" required style="display: none;">                
                </div>

                <div class="input-field col l10 m9 s8" style="margin-top: 0px; padding-right: 0px;">
                    <a class="exit" onclick="addOff()">X</a> 
                    Title: <input id="title" name="title" type="text" class="validate" 
                    minlength="1" maxlength="50" required>
                </div>

                <div class="input-field col l10 m9 s8" style="margin-top: 0px; margin-bottom: 10px;
                padding-right: 0px;">
                    Genre(s): <input id="genre" name="genre" type="text" class="validate" 
                    minlength="5" maxlength="50" required>
                </div>     
                    
                <div class="col l10" style="padding-left: 20px">
                    <button type="submit" onclick="checkForImg()" class="btn-large red darken-1">Add Film <i class="fas fa-plus-square"></i></button>
                </div>
            </form>
        </div>

    </div>

</section>

<script>
    url = "None";

    function goTo(loc) {
      window.moveTo(loc);
    }

    function introOff() {
      document.getElementById("overlay_intro").style.display = "none";
    }

    function profileOff() {
      document.getElementById("overlay_profile").style.display = "none"; 
    }

    function addOn() {
      document.getElementById("overlay_addfilms").style.display = "block";
    }

    function addOff() {
      document.getElementById("overlay_addfilms").style.display = "none";
      url = "None";
    }

    function recOn(iTitle) {
      document.getElementById("overlay_addrecs").style.display = "block";
      document.getElementById("rec_film_title").value = iTitle;
    }

    function recOff() {
      document.getElementById("overlay_addrecs").style.display = "none";
    }

    function editRecOff() {
      document.getElementById("overlay_editrecs").style.display = "none";
    }

    function editFilmOff() {
      document.getElementById("overlay_editfilms").style.display = "none";
    }

    function getURL() {
      var imgInput = prompt("Enter valid image url (Preferably ending in JPEG, JPG, or PNG):", "");
      if (imgInput.length > 5) {
        url = "url('" + imgInput + "')"; 
        document.getElementById("user_url").style.backgroundImage = url;
        document.getElementById("user_poster_url").value = imgInput;
      } else {
        alert("URL not valid try again")
      }
    }

    function checkForImg() {
      if (document.getElementById("user_poster_url").value == "") {
        getURL()
      }
    }

    function amazonLink(title, author) {
        var str1 = title;
        var str2 = author;

        str1.replaceAll(' ', '+');
        str2.replaceAll(' ', '+');
        link = "https://www.amazon.com/s?k=" + str1 + "+by+" + str2 + "&ref=nb_sb_noss_1";
        window.open(link);
    }

</script>

{% endblock %}